.search-principal {
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    width: 49%;
    height: 5%;
    padding: 1%;
    transition: all 0.5s;
  }

  .search-date {
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    width: 15%;
    margin-left: 1.2%;
    height: 5%;
    padding: 1%;
    transition: all 0.5s;
  }

  .button-filter {
    width: 10%;
    margin-left: 1.2%;
    height: 5%;
    padding: 1%;
    transition: all 0.5s;
    color: black;
  }
  
